{% extends 'base.html' %} {% block title %} MQTT | Dashboard {% endblock %} {%
block content %}

<div class="card">
	<div class="card-header">Dashboard 1</div>
	<div class="card-body">
		<div class="container">
			<form method="post" action="/dashboard">
				<div class="row g-3 align-items-center">
					<div class="col-auto">
						<label for="dtpickerstart" class="col-form-label"
							>Start Datetime</label
						>
					</div>
					<div class="col-auto">
						<input
							type="datetime-local"
							name="dtpickerstart"
							id="dtpickerstart"
						/>
					</div>
					<div class="col-auto">
						<label for="dtpickerend" class="col-form-label">End Datetime</label>
					</div>
					<div class="col-auto">
						<input type="datetime-local" name="dtpickerend" id="dtpickerend" />
					</div>
					<div class="col-auto">
						<input type="submit" class="btn btn-secondary" value="Submit" />
					</div>
				</div>
			</form>

			<a href="/dashboard/download">
				<button class="btn btn-secondary">Download as CSV</button>
			</a>
		</div>

		<div id="chart" class="chart" ”></div>
	</div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
	var graphs = {{graph | safe}};
	Plotly.plot('chart',graphs,{});
</script>
{% endblock %}
